.banner-joycard {
  background-image: url(../../assets/banner/banner-joycard.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.sm-banner {
  padding: 40px;
  display: flex;
  align-items: center;
}

.sm-banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  column-gap: 40px;
  row-gap: 16px;
}

.sm-banner-content h3 {
  font-size: 18px;
  color: var(--light);
}

.joycard-media {
  background-color: var(--secondary);
}

.joycard-media-links {
  display: flex;
  gap: 20px;
}

.joycard-media-links a {
  font-size: 28px;
  color: var(--primary);
}

.joycard-media-links a:hover {
  color: var(--light);
  transform: rotate(-30deg) scale(1.5);
}

.joycard-cta {
  background-color: var(--tertiary);
}

@media screen and (max-width: 1000px) {
  .banner-joycard {
    background:
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url(../../assets/banner/banner-joycard.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .sm-banner-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sm-banner-content h3 {
    text-align: center;
  }
}