.secao-oque-fazemos {
  background-color: #40446c;
}

.secao-oque-fazemos .content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.secao-oque-fazemos h1 {
  color: #41b490;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
}

.secao-oque-fazemos .texts {
  display: flex;
  column-gap: 32px;
}

.secao-oque-fazemos .texts .coluna-1 {
  width: 100%;
}

.secao-oque-fazemos .texts p {
  width: 100%;
  color: var(--light);
  margin-bottom: 16px;
}

@media (max-width: 650px) {
  .secao-oque-fazemos .texts {
    flex-direction: column;
  }
}

.nossas-solucoes .solucao {
  display: flex;
  align-items: stretch;
}

.solucoes .titulo {
  position: relative;
  width: 180%;
}

.solucoes .titulo h2 {
  color: var(--secondary);
  margin-bottom: 100px;
}

.solucoes .titulo p {
  color: var(--secondary);
  font-weight: 500;
  position: absolute;
  top: 40px;
  max-width: 650px;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: solid 1px var(--secondary);
}

.nossas-solucoes .solucao-control {
  background-color: var(--secondary);
}

.nossas-solucoes .solucao .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nossas-solucoes .solucao-joycard .content {
  padding: 40px 0 60px 60px;
  align-items: flex-start;
}

.nossas-solucoes .solucao-control .content {
  padding: 60px 60px 60px 0;
  align-items: flex-end;
}

.nossas-solucoes .solucao .logo {
  height: 90px;
}

.nossas-solucoes .solucao-control p {
  text-align: right;
  color: var(--light);
}

.nossas-solucoes .solucao .main-img {
  min-width: 60vw;
  background-size: cover;
  background-repeat: no-repeat;    
}

.nossas-solucoes .solucao-joycard .main-img {
  background-image: url(../../assets/solucoes/joycard.png);
  background-position: bottom left;
}

@media (max-width: 1000px) {
  .solucoes .titulo {
    width: 100%;
    margin-bottom: 20px;
  }

  .solucoes .titulo h2 {
    margin-bottom: 20px;
  }

  .solucoes .titulo p {
    position: relative;
    top: 0;
    max-width: none;
  }

  .nossas-solucoes .solucao-joycard .content {
    padding: 60px 40px 60px;
  }

  .nossas-solucoes .solucao-joycard .main-img {
    display: none;
  }
}

.nossas-solucoes .solucao-control .main-img {
  background-image: url(../../assets/solucoes/control-eco.png);
  background-position: top right;
}

@media (max-width: 850px) {
  .nossas-solucoes .solucao-control .main-img {
    display: none;
  }

  .nossas-solucoes .solucao-control .content {
    padding: 60px 40px 60px;
    width: 100%;
  }

  .nossas-solucoes .solucao-control p {
    max-width: 600px;
  }
}

.secao-quem {
  width: 100%;
}

.secao-quem h2 {
  color: var(--primary);
  margin-bottom: 32px;
  text-align: center;
 }

.carousel-container-wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel-item {
  position: relative;
  min-width: calc(25% - 20px);
  height: 200px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(45, 45, 45, 0.5);
  z-index: 1;
}

.carousel-item .content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}

.prev-btn, .next-btn {
  color: var(--primary);
  font-size: 24px;
}

@media (max-width: 1000px) {
  .carousel-item {
      min-width: calc(33.33% - 20px);
  }
}

@media (max-width: 800px) {
  .carousel-item {
      min-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .carousel-item {
      min-width: calc(100% - 20px);
  }
}

.secao-beneficios {
  background-color: #a5dbca;
}


.secao-beneficios h2 {
  color: var(--secondary);
  text-align: center;
}

.secao-beneficios .subtitulo {
  color: var(--dark);
  font-weight: 500;
  margin: 16px auto 40px;
  max-width: 600px;
  text-align: center;
}

.secao-beneficios .beneficios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .secao-beneficios .beneficios {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .secao-beneficios .beneficios {
    grid-template-columns: 1fr;
  }
}

.secao-beneficios .beneficio {
  background-color: #ffffff;
  position: relative;
  padding: 40px 20px 28px;
  border-radius: 12px;
}

.secao-beneficios .icone {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  padding: 8px;
  background-color: var(--secondary);
  width: 56px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  color: var(--light);
}

.secao-beneficios .numero {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 24px;
  color: var(--primary);
  font-weight: 700;
}

.secao-beneficios .beneficio h3 {
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary);
}

.secao-beneficios ul {
  --icon-space: 1.5em;
  list-style: none;
  padding: 0;
}

.secao-beneficios li {
  padding-left: var(--icon-space);
  margin-bottom: 12px;
}

.secao-beneficios li:last-child {
  margin-bottom: 0;
}

.secao-beneficios li:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
  color: var(--secondary);
}

.secao-beneficios ul.sublist {
  margin-left: 24px;
}

.conteudo-secao-avaliacoes {
  display: flex;
  gap: 32px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .secao-avaliacoes .conteudo-secao-avaliacoes {
    flex-direction: column;
  }

  .secao-avaliacoes .titulo {
    display: flex;
    align-items: end;
  }

  .secao-avaliacoes .titulo h2 {
    margin-top: 0;
    margin-left: 16px;
  }
}

@media (max-width: 500px) {
  .avaliacoes {
    flex-direction: column;
  }
}

.secao-avaliacoes .titulo span {
  color: var(--secondary);
}

.secao-avaliacoes .titulo {
  color: var(--primary);
  min-width: 150px;
}

.secao-avaliacoes .titulo h2 {
  margin-top: 20px;s
}

.secao-avaliacoes .titulo i {
  font-size: 48px;
}

.avaliacoes {
  display: flex;
  gap: 16px;
}

.avaliacoes .coluna {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.avaliacao {
  padding: 20px 24px;
  background-color: white;
  border-radius: 16px;
  border: solid 1px #e6e6e6;
}

.avaliacao .estrelas {
  color: #ffbc0f;
  margin-bottom: 12px;
  font-size: 18px;
}

.secao-contato {
  background-color: var(--secondary);
}

.secao-contato .conteudo-secao-contato {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.secao-contato h2 {
  margin-bottom: 40px;
}

.secao-contato h2 .interesse {
  font-weight: 500;
  color: var(--light);
}

.secao-contato h2 .conversa {
  font-weight: 700;
  color: var(--primary);
}

.secao-contato .links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: min-content;
}

.secao-contato .links-l, .secao-contato .links-sm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.secao-contato .links-l {
  padding-right: 12px;
}

.secao-contato .links-l i {
  font-size: 20px;
}

.secao-contato .link-contato {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 8px;
  color: var(--light);
}

.secao-contato .links-l a:hover {
  color: var(--primary);
}

.secao-contato .links-sm a {
  color: var(--primary);
}

.secao-contato .links-sm a:hover {
  color:rgba(255, 255, 255, 0.7);
}

.secao-contato .redes-sociais {
  display: flex;
  gap: 8px;
}

.secao-contato .links-sm i {
  font-size: 32px;
}

.secao-contato h4 {
  font-weight: 500;
  color: var(--light);
}

.secao-contato .line {
  height: 0.5px;
  background-color:rgba(255, 255, 255, 0.4);
  width: 100%;
}

.secao-contato form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #ffffff20, #2affbc82, #ffffff40, #ffffff20, #58baff5e);
  padding: 40px;
  border-radius: 20px;
  gap: 16px;
  width: 100%;
  max-width: 700px;
}

.secao-contato .colunas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 1000px) {
  .secao-contato .colunas {
    grid-template-columns: 1fr;
  }
}

.secao-contato .input-container {
  position: relative;
  width: 100%;
}

.secao-contato .input-container i {
  position: absolute;
  margin: 0 10px;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--tertiary);
}

.secao-contato form input {
  padding: 8px 12px 8px 40px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--dark);
  font-weight: 500;
  background-color: #f4f4f4;
  width: 100%;
}

.secao-contato form textarea {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--dark);
  font-weight: 500;
  background-color: #f4f4f4;
}

.secao-contato form input::placeholder, .secao-contato form textarea::placeholder {
  font-weight: 400;
}

@media (max-width: 750px) {
  .secao-contato .conteudo-secao-contato {
    flex-direction: column;
  }

  .secao-contato .links {
    flex-direction: row;
  }

  .secao-contato form {
    padding: 20px;
    border-radius: 12px;
  }
}

@media (max-width: 550px) {
  .secao-contato .links {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
}

.secao-avaliacoes, .secao-quem, .secao-beneficios, .secao-oque-fazemos, .secao-contato {
  padding: 48px 80px 60px;
}

@media (max-width: 500px) {
  .secao-contato .contato-whatsapp {
    flex-direction: column;
    text-align: center;
    gap: 28px;
  }
}

@media (max-width: 850px) {
  .secao-avaliacoes, .secao-quem, .secao-beneficios, .secao-oque-fazemos, .secao-contato {
    padding: 48px 60px 60px;
  }
}

@media (max-width: 600px) {
  .secao-avaliacoes, .secao-quem, .secao-beneficios, .secao-oque-fazemos, .secao-contato {
    padding: 40px;
  }

  .secao-quem {
    padding: 20px;
  }
}