.banner-multiplicador {
  background-image: url(../../assets/banner/banner-multiplicador.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .banner-multiplicador {
    background:
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url(../../assets/banner/banner-multiplicador.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}
