.banner-control {
  background-image: url(../assets/banner-control.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;    
}

.control-client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  row-gap: 32px;
  background-color: var(--tertiary);
  padding: 40px;
}

.control-img {
  height: 250px;
}

.client-button-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.control-logo {
  height: 60px;
}

@media screen and (max-width: 1000px) {
  .banner-control {
    background:
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url(../assets/banner-joycard.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 650px) {
  .client-button-container {
    align-items: center;
  }
}