:root {
  --primary: #41B490;
  --secondary: #2A3176;
  --tertiary: #005D9F;
  --dark: #282828;
  --light: #FAFAFA;
}

* {
  font-family: "Open Sans";
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  transition: all 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}

button {
  transition: all 0.5s ease;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: #FEFEFE;
}

.btn {
  background-color: var(--primary);
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 4px 4px 20px 0px rgba(65, 65, 65, 0.2);
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.sm-btn {
  background-color: var(--primary);
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 4px 4px 20px 0px rgba(65, 65, 65, 0.2);
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
}