header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  box-shadow: 4px 4px 20px 0px rgba(65, 65, 65, 0.2);
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
  height: 100px;
  background-color: white;
}

header .header-logo {
  margin-left: 40px;
  margin-top: -10px;
}

header .header-logo p {
  font-size: 13px;
  color: var(--secondary);
  font-weight: 500;
  font-style: italic;
}

header .header-logo img {
  height: 56px;
}

header .header-button-icon {
  display: none;
}

header .header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  row-gap: 0;
  column-gap: 8px;
  margin-right: 40px;

  height: 100%;
}

header .header-button {
  padding: 8px 16px;
  height: 100%;

  font-size: 15px;
  font-weight: 700;
  color: var(--dark);

  transition: all 0.5s ease;

  display: flex;
  gap: 8px;
  align-items: center;
}

header .dropdown:hover i {
  transform: rotate(180deg);
}

header .dropdown:hover i {
  transform: rotate(180deg);
}

header .dropdown:hover .header-button, header .dropdown:focus .header-button {
  color: var(--primary);
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  box-shadow: 4px 4px 8px 0px rgba(65, 65, 65, 0.2);
}

header .dropdown-content a {
  font-size: 15px;
  padding: 12px 16px;
  color: var(--dark);
}

header .dropdown-content a:hover {
  background-color: #ddd;
}

header .dropdown:hover .dropdown-content, header .dropdown:focus .dropdown-content {
  display: flex;
  flex-direction: column;
}

header .header-background-overlay {
  display: none;
}

header .whatsapp a {
  color: #25d366;
}

header .whatsapp a i {
  transform: none;
  font-size: 20px;
}

header .whatsapp a i:hover {
  transform: none;
}

@media screen and (max-width: 650px) {
  header .header-button-icon {
    display: block;
    margin-right: 32px;
    font-size: 20px;
    color: var(--secondary);
  }

  header .header-button-icon .menu-icon {
    display: block;
  }

  header .header-button-icon .close-icon {
    display: none;
  }

  header.active .header-button-icon .menu-icon {
    display: none;
  }

  header.active .header-button-icon .close-icon {
    display: block;
  }

  header .header-menu {
    display: none;
  }

  header.active .header-menu {
    position: absolute;
    top: 100px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: normal;
    gap: 20px;

    height: auto;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    width: 100%;
    padding: 24px 24px;
    background-color: var(--secondary);
  }

  header .dropdown {
    width: 100%;
  }

  header .header-button {
    width: 100%;
    padding: 0;
    cursor: auto;
    color: var(--light);
    font-size: 14px;
    font-weight: 600;
  }

  header .dropdown:hover .header-button {
    color: var(--light);
  }

  header a.header-button:hover {
    color: var(--primary);
    cursor: pointer
  }

  header .dropdown .header-button i {
    display: none;
  }

  header .dropdown-content {
    display: flex;
    flex-direction: column;
    position: unset;
    background-color: transparent;
    margin-top: 8px;
  }

  header .dropdown-content a {
    color: var(--light);
    font-size: 14px;
    border-width: 0 0 0.5px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
  }

  header .dropdown-content a:last-child {
    border-width: 0;
  }

  header .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  header.active .header-background-overlay {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}