.banner-home {
  background-image: url(../assets/banner/banner-home.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .banner-home {
    background:
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url(../assets/banner/banner-home.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}