.banner-quem-somos {
  background-image: url(../assets/banner/banner-quem-somos.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.manifesto {
  background-color: var(--secondary);
  padding: 60px 80px;
}

.manifesto h2 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 32px;
  color: var(--primary);
}

.manifesto .texts {
  display: flex;
  gap: 32px;
  max-width: 800px;
  margin: 0 auto;
  color: var(--light);
}

.manifesto .texts div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.base {
  padding: 60px 80px;
  color: var(--secondary);
}

.base .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1200px;
  gap: 32px;
  margin: 0 auto;
}

.base i {
  font-size: 56px;
}

.base h3 {
  margin: 8px 0 20px;
}

.base ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

.base li {
  padding-left: var(--icon-space);
  margin-bottom: 12px;
}

.base li:last-child {
  margin-bottom: 0;
}

.base li:before {
  content: "\f105";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
}

.timeline-section {
  padding: 60px 80px;
  background-color: #f1f1f9;
}

.timeline-section h2 {
  position: absolute;
  color: var(--secondary);
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline .timeline-item {
  display: flex;
  width: calc(50% + 82.8px);
  position: relative;
}

.timeline .time-right.timeline-item {
  margin-left: auto;
}

.timeline .time-left.timeline-item {
  margin-right: auto;
}

.timeline .year {
  display: flex;
  align-items: end;
  justify-content: center;
  min-width: 80px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  color: var(--light);
  box-shadow: 4px 4px 20px 0px rgba(65, 65, 65, 0.1);
}

#timeline-1 .year,
#timeline-4 .year {
  background-color: var(--primary);
}

#timeline-2 .year,
#timeline-5 .year {
  background-color: var(--secondary);
}

#timeline-3 .year,
#timeline-6 .year {
  background-color: var(--tertiary);
}

.timeline .time-right .year {
  border-radius: 1000px 0 0 0;
}

.timeline .time-left .year {
  border-radius: 0 1000px 0 0;
}

.timeline .text {
  background-color: white;
  box-shadow: 4px 4px 20px 0px rgba(65, 65, 65, 0.1);
  color: var(--dark);
  min-height: 120px;
  align-items: center;
  display: flex;
}

.timeline .time-right .text {
  padding: 12px 20px 12px 32px;
  border-radius: 0 0 20px 0;
  border-left: solid 5.6px var(--dark);
}

.timeline .time-left .text {
  padding: 12px 32px 12px 20px;
  border-radius: 0 0 0 20px;
  border-right: solid 5.6px var(--dark);
}

.timeline i {
  position: absolute;
  font-size: 36px;
  padding: 8px;
  border-radius: 100px;
  color: var(--light);
  top: 50%;
  transform: translateY(-50%);
}

#timeline-1 i,
#timeline-4 i {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    var(--primary);
}

#timeline-2 i,
#timeline-5 i {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35)),
    var(--secondary);
}

#timeline-3 i,
#timeline-6 i {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    var(--tertiary);
}

.timeline .time-right i {
  left: 52px;
}

.timeline .time-left i {
  right: 52px;
}

.timeline .timeline-divider {
  width: 5.6px;
  height: 20px;
  background-color: var(--dark);
}

.team {
  background-color: var(--primary);
  padding: 60px 80px;
}

.team h2 {
  margin-bottom: 32px;
  text-align: center;
  color: var(--secondary);
}

.team .slider {
  max-width: 1000px;
  margin: auto;
  color: white;
  display: flex;
  gap: 32px;
  align-items: center;
}

.team .slide {
  display: none;
  gap: 40px;
  align-items: center;
}

.team .slide h4 {
  margin-bottom: 16px;
}

.team .prev, .team .next {
  cursor: pointer;
  padding: 8px;
  color: var(--light);
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 4px;
}

.team .prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.2);
}

.team .dots {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.team .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.team .active, .dot:hover {
  background-color: var(--secondary);
}

/* Fading animation */
.team .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 1000px) {
  .banner-quem-somos {
    background:
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      url(../assets/banner/banner-quem-somos.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .timeline-section {
    padding: 60px 40px;
  }

  .team {
    padding: 60px 20px;
  }
}

@media screen and (max-width: 800px) {
  .team .slider, .team .slide {
    gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .manifesto .texts {
    flex-direction: column;
    gap: 16px;
  }

  .manifesto .texts div {
    width: 100%;
  }

  .timeline-section h2 {
    position: relative;
    margin-bottom: 32px;
    text-align: center;
  }

  .timeline .timeline-item {
    width: 100%;
  }

  .timeline .time-right .year {
    border-radius: 1000px 0 0 200px;
  }
  
  .timeline .time-left .year {
    border-radius: 0 1000px 200px 0;
  }

  .timeline .time-right .text {
    border-left: 0;
    border-radius: 0 20px 20px 0;
  }
  
  .timeline .time-left .text {
    border-right: 0;
    border-radius: 20px 0 0 20px;
  }

  .timeline .timeline-divider {
    background-color: transparent;
  }

  .team .slide {
    display: flex;
    flex-direction: column;
    gap: 32px
  }

  .team .dots {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .manifesto, .base {
    padding: 60px 40px;
  }

  .team {
    padding: 60px 8px;
  }

  .team .slider {
    gap: 8px;
  }
}