<!DOCTYPE html>

<html lang="ptbr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/07a632e4ac.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="../../style/institucional/missao-visao-valores.css">

    <title>Missão, Visão e Valores</title>
  </head>

  <body>
    <header id="header">
      <div class="header-content">
        <a href="../../index.html" class="header-logo">
          <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          <p>Há 23 anos valorizando os negócios de nossos clientes.</p>
        </a>
  
        <a
          href="javascript:void(0);"
          onclick="menuToggle()"
          class="header-button-icon"
        >
          <i class="ph-bold ph-list menu-icon"></i>
          <i class="ph-bold ph-x close-icon"></i>
        </a>
  
        <div class="header-menu">
          <div class="dropdown">
            <div class="header-button">
              <p>Institucional</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/institucional/quem-somos.html">Quem somos</a>
              <a href="../../views/institucional/missao-visao-valores.html">Missão, Visão e Valores</a>
              <a href="../../views/institucional/nossa-historia.html">Nossa História</a>
              <a href="../../views/institucional/nossa-equipe.html">Nossa Equipe</a>
            </div>
          </div>
        
          <div class="dropdown">
            <div class="header-button">
              <p>O que fazemos</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/solucoes/oque-fazemos.html">O que fazemos</a>
              <a href="../../views/solucoes/joycard.html">Joycard</a>
              <a href="../../views/solucoes/control.html">Control Ecosystem</a>
              <a href="../../views/solucoes/programa-multiplicador.html">Seja um multiplicador</a>
            </div>
          </div>

          <div class="dropdown">
            <div class="header-button">
              <p>Sou cliente</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../tenho-joycard.html">Tenho Joycard</a>
              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>

          <div class="whatsapp">
            <a
              href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
              class="header-button"
              target="_blank"
            >
              Fale conosco
              <i class="ph-bold ph-whatsapp-logo"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="header-background-overlay"></div>
    </header>

    <section class="base first-section">
      <div class="content">
        <div>
          <i class="ph ph-crosshair"></i>
          <h3>Missão</h3>
          <p>
            Inspirar, automatizar e formalizar processos de reconhecimento,
            criando experiências que valorizem pessoas e potencializem os resultados das empresas.
          </p>
        </div>

        <div>
          <i class="ph ph-eye"></i>
          <h3>Visão</h3>
          <p>
            Ser referência no mercado de soluções para premiações e incentivos,
            promovendo conexões significativas e transformando a forma como empresas reconhecem talentos.
          </p>
        </div>

        <div>
          <i class="ph ph-hand-heart"></i>
          <h3>Valores</h3>
          <ul>
            <li>
              <i class="ph-fill ph-lightbulb"></i>
              Inovação contínua para superar desafios.
            </li>
            <li>
              <i class="ph-fill ph-sketch-logo"></i>
              Transparência e ética em todas as relações.
            </li>
            <li>
              <i class="ph-fill ph-chart-line"></i>
              Compromisso com resultados de impacto.
            </li>
            <li>
              <i class="ph-fill ph-person-arms-spread"></i>
              Valorização do potencial humano.
            </li>
            <li>
              <i class="ph-fill ph-medal"></i>
              Excelência em cada entrega.
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <footer>
      <section class="footer-1">
        <div class="web-horizontal-content">
          <div class="about">
            <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          </div>

          <div class="links-container">
            <div class="links">
              <p class="main-link">
                Institucional
              </p>

              <a href="../../views/institucional/quem-somos.html" class="sub-link">
                Quem somos
              </a>

              <a href="../../views/institucional/missao-visao-valores.html" class="sub-link">
                Missão, Visão e Valores
              </a>

              <a href="../../views/institucional/nossa-historia.html" class="sub-link">
                Nossa História
              </a>

              <a href="../../views/institucional/nossa-equipe.html" class="sub-link">
                Nossa Equipe
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Nossas soluções
              </p>

              <a href="../../views/solucoes/oque-fazemos.html" class="sub-link">
                O que fazemos
              </a>

              <a href="../../views/solucoes/joycard.html" class="sub-link">
                Joycard
              </a>

              <a href="../../views/solucoes/control.html" class="sub-link">
                Control Ecosystem
              </a>

              <a href="../../views/solucoes/programa-multiplicador.html" class="sub-link">
                Seja um multiplicador
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Sou cliente
              </p>

              <a href="../../tenho-joycard.html" class="sub-link">
                Tenho Joycard
              </a>

              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
                class="sub-link"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>
        </div>

        <a
          href="https://maps.app.goo.gl/ufG4q2W8yukBerqY7"
          target="_blank"
          class="address"
        >
          Alameda Grajaú, 219 - 3º andar - Alphaville
          <br />
          Barueri - SP, 06454-050
        </a>
      </section>

      <section class="footer-2">
        <a
          href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
          target="_blank"
          class="whatsapp"
        >
          <i class="ph-bold ph-whatsapp-logo"></i>
          Fale conosco: +55 11 94470-8751
        </a>

        <div class="social-media">
          <a
            href="https://www.instagram.com/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-instagram-logo"></i>
          </a>
          <a
            href="https://web.facebook.com/elementbusinessecosystem"
            target="_blank"
          >
            <i class="ph-fill ph-facebook-logo"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-linkedin-logo"></i>
          </a>
        </div>
      </section>
    </footer>
  </body>

  <script src="../../scripts/header.js"></script>
</html>