<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="
      Equipe apaixonada e comprometida em criar soluções inovadoras e
      entregar resultados extraordinários, unindo expertise única para
      ajudar clientes a alcançar seus objetivos com eficiência e segurança.
    ">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="../../style/institucional/nossa-equipe.css">

    <title>Nossa Equipe</title>
  </head>

  <body>
    <header id="header">
      <div class="header-content">
        <a href="../../index.html" class="header-logo" aria-label="Home">
          <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          <p>Há 23 anos valorizando os negócios de nossos clientes.</p>
        </a>
  
        <button
          href="javascript:void(0);"
          onclick="menuToggle()"
          class="header-button-icon"
          aria-label="Abrir ou fechar menu"
        >
          <i class="ph-bold ph-list menu-icon"></i>
          <i class="ph-bold ph-x close-icon"></i>
        </button>
  
        <nav class="header-menu">
          <div class="dropdown">
            <div class="header-button">
              <p>Institucional</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/institucional/quem-somos.html">Quem somos</a>
              <a href="../../views/institucional/missao-visao-valores.html">Missão, Visão e Valores</a>
              <a href="../../views/institucional/nossa-historia.html">Nossa História</a>
              <a href="../../views/institucional/nossa-equipe.html">Nossa Equipe</a>
            </div>
          </div>
        
          <div class="dropdown">
            <div class="header-button">
              <p>O que fazemos</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/solucoes/oque-fazemos.html">O que fazemos</a>
              <a href="../../views/solucoes/joycard.html">Joycard</a>
              <a href="../../views/solucoes/control.html">Control Ecosystem</a>
              <a href="../../views/solucoes/programa-multiplicador.html">Seja um multiplicador</a>
            </div>
          </div>

          <div class="dropdown">
            <div class="header-button">
              <p>Sou cliente</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../tenho-joycard.html">Tenho Joycard</a>
              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>

          <div class="whatsapp">
            <a
              href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
              class="header-button"
              target="_blank"
              aria-label="Nosso whatsapp"
            >
              Fale conosco
              <i class="ph-bold ph-whatsapp-logo"></i>
            </a>
          </div>
        </nav>
      </div>

      <div class="header-background-overlay"></div>
    </header>

    <section class="our-team-section first-section">
      <h2>Nossa equipe</h2>

      <p>
        Nosso time é formado por profissionais apaixonados pelo que fazem,
        comprometidos em criar soluções inovadoras e entregar resultados extraordinários.
        Cada membro da nossa equipe traz expertise única, colaborando para que nossos clientes
        alcancem seus objetivos com eficiência e segurança.
      </p>
    </section>

    <section class="team">
      <h2>Nossa Equipe</h2>

      <div class="slider">
        <button class="prev" onclick="plusSlides(-1)" aria-label="Ver profissional anterior">
          <i class="ph-bold ph-caret-left"></i>
        </button>

        <div class="slide fade">
          <div>
            <h4>Janaína Mello | CEO</h4>
            <p>
              Janaina Mello assumiu a posição de CEO da Element com a missão de continuar
              o legado de excelência, inovação e valorização de pessoas que definem a empresa.
              Jornalista de formação, ela construiu uma carreira sólida em instituições renomadas
              como BankBoston, Itaú, Citibank e Prudential, acumulando experiência e
              visão estratégica essenciais para impulsionar o sucesso da Element.
            </p>
            <p>
              Como líder, Janaína é responsável por coordenar operações complexas com maestria,
              orientando a equipe de TI para proporcionar uma experiência de usuário contínua e
              excepcional, enquanto assegura um atendimento ao cliente que reflete os mais altos
              padrões de qualidade. Sua abordagem prática e resolutiva faz dela referência interna
              para resolver desafios e transformar ideias em resultados concretos.
            </p>
          </div>
          <img src="../../assets/team/janaina-mello.jpg">
        </div>

        <div class="slide fade">
          <div>
            <h4>Glaydson Bertozzi | Head TI</h4>
            <p>
              Profissional multidisciplinar, Glaydson é formado pelo ITA em Computação,
              pela FGV em Gerenciamento de Projeto, em Gestão de P&D pela Unicamp e
              Engenharia de Dados pela USP. Com mais de 20 anos de experiência,
              também é membro do IEEE, da ACM (Association Computing Machinery) e
              SBC (Sociedade Brasileira de Computação). Na Element, Glaydson é o
              responsável pela área de tecnologia e desenvolvimento.
            </p>
          </div>
          <img src="../../assets/team/glaydson.png">
        </div>

        <div class="slide fade">
          <div>
            <h4>Jiane Muzel | Head Finanças</h4>
            <p>
              Formada em Direito e com MBA em Gestão de Tributos,
              Jiane é responsável pela Gestão Financeira da Element.
              Profissional experiente, com mais de 20 anos de carreira.
              Muito organizada, defende seus números como uma leoa.
              Para espairecer, faz bolos e compotas deliciosas para a equipe saborear.
            </p>
          </div>
          <img src="../../assets/team/jiane-muzel.jpg">
        </div>

        <div class="slide fade">
          <div>
            <h4>Nelson Passos | Head Projetos</h4>
            <p>
              Nelson é nosso mineirinho, gestor de projetos em tecnologia da informação.
              Pós-graduado pela PUC Minas, desenvolveu sua carreira no planejamento,
              especificação de requisitos, controle e desenvolvimento de processos com
              alto volume transacional. Teve forte atuação em eventos massivos, como shows e
              operações de estádios de futebol. Faz a interface entre as áreas de Negócios e TI,
              no método Ágil, muito ágil!
            </p>
          </div>
          <img src="../../assets/team/nelson-passos.jpg">
        </div>

        <div class="slide fade">
          <div>
            <h4>Andrea Meyer</h4>
            <p>
              Formada em Estética e Massoterapia, a profissional chilena cresceu em São Paulo
              e vive no interior. Ela atuou em eventos e festas de peão, nos bastidores e em camarotes.
              Com mais de 25 anos de experiência em atendimento ao cliente, integrou a família Element
              em 2006 e retornou em 2022, agora no setor comercial.
              Usa os conhecimentos acumulados para aprimorar o atendimento ao cliente.
              Apaixonada por viagens, estuda o comportamento humano em busca de desenvolvimento pessoal
              e profissional, e valoriza momentos de descontração com família e amigos.
            </p>
          </div>
          <img src="../../assets/team/andrea-meyer.png">
        </div>

        <div class="slide fade">
          <div>
            <h4>Giovanna Rodrigues</h4>
            <p>
              Formada em técnico em administração, atuou com planejamento estratégico
              e como redatora em uma agência de marketing, estagiou no setor administrativo no Sebrae
              por dois anos, onde também participou de projetos internos.
              Está sempre em busca de novos conhecimentos, seja realizando cursos
              ou participando de palestras. Mãe do Arthur, praticante de yoga, adora ir em shows,
              tem paixão por andar de moto e ama estar junto de sua família e amigos.
              Hoje atua no setor de atendimento e operações da Element.
            </p>
          </div>
          <img src="../../assets/team/giovanna-rodrigues.png">
        </div>
        
        <button class="next" onclick="plusSlides(1)" aria-label="Ver próximo profissional">
          <i class="ph-bold ph-caret-right"></i>
        </button>
      </div>

      <div class="dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
      </div>
    </section>
    
    <footer>
      <section class="footer-1">
        <div class="web-horizontal-content">
          <div class="about">
            <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          </div>

          <div class="links-container">
            <div class="links">
              <p class="main-link">
                Institucional
              </p>

              <a href="../../views/institucional/quem-somos.html" class="sub-link">
                Quem somos
              </a>

              <a href="../../views/institucional/missao-visao-valores.html" class="sub-link">
                Missão, Visão e Valores
              </a>

              <a href="../../views/institucional/nossa-historia.html" class="sub-link">
                Nossa História
              </a>

              <a href="../../views/institucional/nossa-equipe.html" class="sub-link">
                Nossa Equipe
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Nossas soluções
              </p>

              <a href="../../views/solucoes/oque-fazemos.html" class="sub-link">
                O que fazemos
              </a>

              <a href="../../views/solucoes/joycard.html" class="sub-link">
                Joycard
              </a>

              <a href="../../views/solucoes/control.html" class="sub-link">
                Control Ecosystem
              </a>

              <a href="../../views/solucoes/programa-multiplicador.html" class="sub-link">
                Seja um multiplicador
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Sou cliente
              </p>

              <a href="../../tenho-joycard.html" class="sub-link">
                Tenho Joycard
              </a>

              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
                class="sub-link"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>
        </div>

        <a
          href="https://maps.app.goo.gl/ufG4q2W8yukBerqY7"
          target="_blank"
          class="address"
          aria-label="Endereço Google Maps"
        >
          Alameda Grajaú, 219 - 3º andar - Alphaville
          <br />
          Barueri - SP, 06454-050
        </a>
      </section>

      <section class="footer-2">
        <a
          href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
          target="_blank"
          class="whatsapp"
          aria-label="Nosso whatsapp"
        >
          <i class="ph-bold ph-whatsapp-logo"></i>
          Fale conosco: +55 11 94470-8751
        </a>

        <div class="social-media">
          <a
            href="https://www.instagram.com/elementbusinessecosystem/"
            target="_blank"
            aria-label="Nosso Instagram"
          >
            <i class="ph-fill ph-instagram-logo"></i>
          </a>
          <a
            href="https://web.facebook.com/elementbusinessecosystem"
            target="_blank"
            aria-label="Nosso Facebook"
          >
            <i class="ph-fill ph-facebook-logo"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/elementbusinessecosystem/"
            target="_blank"
            aria-label="Nosso Linkedin"
          >
            <i class="ph-fill ph-linkedin-logo"></i>
          </a>
        </div>
      </section>
    </footer>
  </body>

  <script src="../../scripts/header.js"></script>
  <script src="../../scripts/slider.js"></script>
</html>