<!DOCTYPE html>

<html lang="ptbr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/07a632e4ac.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="../../style/institucional/nossa-historia.css">

    <title>Nossa História</title>
  </head>

  <body>
    <header id="header">
      <div class="header-content">
        <a href="../../index.html" class="header-logo">
          <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          <p>Há 23 anos valorizando os negócios de nossos clientes.</p>
        </a>
  
        <a
          href="javascript:void(0);"
          onclick="menuToggle()"
          class="header-button-icon"
        >
          <i class="ph-bold ph-list menu-icon"></i>
          <i class="ph-bold ph-x close-icon"></i>
        </a>
  
        <div class="header-menu">
          <div class="dropdown">
            <div class="header-button">
              <p>Institucional</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/institucional/quem-somos.html">Quem somos</a>
              <a href="../../views/institucional/missao-visao-valores.html">Missão, Visão e Valores</a>
              <a href="../../views/institucional/nossa-historia.html">Nossa História</a>
              <a href="../../views/institucional/nossa-equipe.html">Nossa Equipe</a>
            </div>
          </div>
        
          <div class="dropdown">
            <div class="header-button">
              <p>O que fazemos</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/solucoes/oque-fazemos.html">O que fazemos</a>
              <a href="../../views/solucoes/joycard.html">Joycard</a>
              <a href="../../views/solucoes/control.html">Control Ecosystem</a>
              <a href="../../views/solucoes/programa-multiplicador.html">Seja um multiplicador</a>
            </div>
          </div>

          <div class="dropdown">
            <div class="header-button">
              <p>Sou cliente</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../tenho-joycard.html">Tenho Joycard</a>
              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>

          <div class="whatsapp">
            <a
              href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
              class="header-button"
              target="_blank"
            >
              Fale conosco
              <i class="ph-bold ph-whatsapp-logo"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="header-background-overlay"></div>
    </header>

    <section class="our-history-section first-section">
      <h2>Nossa História</h2>

      <p>
        Desde nossa fundação, nos dedicamos a transformar o mercado de incentivos e premiações.
        Ao longo dos anos, evoluímos com a tecnologia e adaptamos nossas soluções às demandas do mercado,
        sempre com o objetivo de conectar empresas e pessoas de forma eficiente e impactante.
        Hoje, somos referência em soluções automatizadas e legais que simplificam processos e
        promovem o crescimento dos nossos clientes.
      </p>
    </section>

    <section class="timeline-section">
      <h2>Linha do Tempo</h2>

      <div class="timeline">
        <div class="timeline-item time-right" id="timeline-1">
          <div class="year">
            <p>2006</p>
          </div>
          <div class="text">
            <p>
              Nasce a Element MKT no Chile.
              Pedro Fraga e Ramón Barahona lançam a empresa para atender as necessidades
              do mercado promocional e de incentivo, atuando na produção de brindes em
              larga escala para ações de marketing ao consumidor final ou canais de vendas
              da América Latina.
            </p>
          </div>
          <i class="ph-thin ph-plant"></i>
        </div>
        
        <div class="timeline-divider"></div>

        <div class="timeline-item time-left" id="timeline-2">
          <div class="text">
            <p>
              JoyCard, a marca de cartão de crédito pré-pago da Element,
              é lançada e proporciona o fortalecimento de premiação e incentivo de equipes e
              consumidores para as empresas de forma personalizada e organizada.
            </p>
          </div>
          <div class="year">
            <p>2007</p>
          </div>
          <i class="ph-thin ph-credit-card"></i>
        </div>

        <div class="timeline-divider"></div>

        <div class="timeline-item time-right" id="timeline-3">
          <div class="year">
            <p>2014</p>
          </div>
          <div class="text">
            <p>
              A operação no Brasil ganha força e mais foco em seu DNA,
              sendo assumida exclusivamente pelo sócio Pedro Fraga.
            </p>
          </div>
          <i class="ph-thin ph-dna"></i>
        </div>

        <div class="timeline-divider"></div>

        <div class="timeline-item time-left" id="timeline-4">
          <div class="text">
            <p>
              A Element MKT direciona seus esforços para o mercado com premiações de
              cunho financeiro e assume a assinatura de Element Pré-Pagos.
            </p>
          </div>
          <div class="year">
            <p>2018</p>
          </div>
          <i class="ph-thin ph-trophy"></i>
        </div>

        <div class="timeline-divider"></div>

        <div class="timeline-item time-right" id="timeline-5">
          <div class="year">
            <p>2020</p>
          </div>
          <div class="text">
            <p>
              A nova realidade traz para a Element a oportunidade de oferecer
              novas soluções para seus clientes, fortalecida pelo uso intensivo de tecnologia,
              otimizando processos e mais controle.
            </p>
          </div>
          <i class="ph-thin ph-desktop"></i>
        </div>

        <div class="timeline-divider"></div>

        <div class="timeline-item time-left" id="timeline-6">
          <div class="text">
            <p>
              Surge a Element Business Ecosystem com a maturidade e o relacionamento adquiridos
              com os clientes e o mercado, visando a valorização do ecossistema de negócios.
              Diversas soluções tecnológicas são incorporadas ao portfólio,
              reforçando a atuação no incentivo, premiação, controle e
              apuração de recebíveis dos agentes comerciais.
            </p>
          </div>
          <div class="year">
            <p>2022</p>
          </div>
          <i class="ph-thin ph-handshake"></i>
        </div>

        <div class="timeline-divider"></div>

        <div class="timeline-item time-right" id="timeline-7">
          <div class="year">
            <p>2023</p>
          </div>
          <div class="text">
            <p>
              Em 2023, enfrentamos a perda de nosso fundador e CEO, Pedro Fraga,
              uma figura visionária que dedicou os últimos 22 anos de sua vida a transformar
              a Element em um modelo de inovação e sucesso.
              Sua liderança e legado continuam a guiar nossos valores e decisões.
            </p>
          </div>
          <i class="ph-thin ph-sparkle"></i>
        </div>

        <div class="timeline-divider"></div>

        <div class="timeline-item time-left" id="timeline-8">
          <div class="text">
            <p>
              Em 2024, Janaina Mello foi nomeada como CEO,
              assumindo o desafio de liderar a Element em sua próxima fase de crescimento.
              Com sua experiência, comprometimento e visão estratégica,
              Janaina honra o legado deixado, mantendo o propósito e a missão da empresa de inspirar pessoas e
              impulsionar negócios.
            </p>
          </div>
          <div class="year">
            <p>2024</p>
          </div>
          <i class="ph-thin ph-trend-up"></i>
        </div>
      </div>
    </section>
    
    <footer>
      <section class="footer-1">
        <div class="web-horizontal-content">
          <div class="about">
            <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          </div>

          <div class="links-container">
            <div class="links">
              <p class="main-link">
                Institucional
              </p>

              <a href="../../views/institucional/quem-somos.html" class="sub-link">
                Quem somos
              </a>

              <a href="../../views/institucional/missao-visao-valores.html" class="sub-link">
                Missão, Visão e Valores
              </a>

              <a href="../../views/institucional/nossa-historia.html" class="sub-link">
                Nossa História
              </a>

              <a href="../../views/institucional/nossa-equipe.html" class="sub-link">
                Nossa Equipe
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Nossas soluções
              </p>

              <a href="../../views/solucoes/oque-fazemos.html" class="sub-link">
                O que fazemos
              </a>

              <a href="../../views/solucoes/joycard.html" class="sub-link">
                Joycard
              </a>

              <a href="../../views/solucoes/control.html" class="sub-link">
                Control Ecosystem
              </a>

              <a href="../../views/solucoes/programa-multiplicador.html" class="sub-link">
                Seja um multiplicador
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Sou cliente
              </p>

              <a href="../../tenho-joycard.html" class="sub-link">
                Tenho Joycard
              </a>

              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
                class="sub-link"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>
        </div>

        <a
          href="https://maps.app.goo.gl/ufG4q2W8yukBerqY7"
          target="_blank"
          class="address"
        >
          Alameda Grajaú, 219 - 3º andar - Alphaville
          <br />
          Barueri - SP, 06454-050
        </a>
      </section>

      <section class="footer-2">
        <a
          href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
          target="_blank"
          class="whatsapp"
        >
          <i class="ph-bold ph-whatsapp-logo"></i>
          Fale conosco: +55 11 94470-8751
        </a>

        <div class="social-media">
          <a
            href="https://www.instagram.com/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-instagram-logo"></i>
          </a>
          <a
            href="https://web.facebook.com/elementbusinessecosystem"
            target="_blank"
          >
            <i class="ph-fill ph-facebook-logo"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-linkedin-logo"></i>
          </a>
        </div>
      </section>
    </footer>
  </body>

  <script src="../../scripts/header.js"></script>
</html>