.base {
  padding: 60px 80px;
  flex-grow: 1;
}

.base .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1200px;
  gap: 32px;
  margin: 0 auto;
}

.base i {
  font-size: 56px;
  color: var(--tertiary);
}

.base h3 {
  margin: 8px 0 20px;
  color: var(--tertiary);
}

.base p, .base ul {
  color: var(--dark);
}

.base ul {
  list-style: none;
  padding: 0;
}

.base li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px; 
}

.base li:last-child {
  margin-bottom: 0;
}

.base li i {
  color: var(--dark);
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .base {
    padding: 60px 40px;
  }
}