<!DOCTYPE html>

<html lang="ptbr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/07a632e4ac.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="../../style/solucoes/solucoes.css">
    <link rel="stylesheet" href="../../style/solucoes/joycard.css">

    <title>Joycard</title>
  </head>

  <body>
    <header id="header">
      <div class="header-content">
        <a href="../../index.html" class="header-logo">
          <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          <p>Há 23 anos valorizando os negócios de nossos clientes.</p>
        </a>
  
        <a
          href="javascript:void(0);"
          onclick="menuToggle()"
          class="header-button-icon"
        >
          <i class="ph-bold ph-list menu-icon"></i>
          <i class="ph-bold ph-x close-icon"></i>
        </a>
  
        <div class="header-menu">
          <div class="dropdown">
            <div class="header-button">
              <p>Institucional</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/institucional/quem-somos.html">Quem somos</a>
              <a href="../../views/institucional/missao-visao-valores.html">Missão, Visão e Valores</a>
              <a href="../../views/institucional/nossa-historia.html">Nossa História</a>
              <a href="../../views/institucional/nossa-equipe.html">Nossa Equipe</a>
            </div>
          </div>
        
          <div class="dropdown">
            <div class="header-button">
              <p>O que fazemos</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/solucoes/oque-fazemos.html">O que fazemos</a>
              <a href="../../views/solucoes/joycard.html">Joycard</a>
              <a href="../../views/solucoes/control.html">Control Ecosystem</a>
              <a href="../../views/solucoes/programa-multiplicador.html">Seja um multiplicador</a>
            </div>
          </div>

          <div class="dropdown">
            <div class="header-button">
              <p>Sou cliente</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../tenho-joycard.html">Tenho Joycard</a>
              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>

          <div class="whatsapp">
            <a
              href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
              class="header-button"
              target="_blank"
            >
              Fale conosco
              <i class="ph-bold ph-whatsapp-logo"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="header-background-overlay"></div>
    </header>

    <section class="banner-joycard banner">
      <div class="banner-content">
        <div class="text">
          <h1>
            Motive sua equipe com o
            <br />
            nosso cartão pré-pago
          </h1>
  
          <p>
            <b>
              Sua empresa valoriza seus colaboradores?
              <br />
              Tem um programa de premiação e ajuda de custos?
            </b>
          </p>
  
          <p>
            Com o cartão pré-pago
            <b>Joycard</b>
            é possível reconhecer e incentivar toda a cadeia de valor da sua empresa,
            controlando melhor o processo dos pagamentos,
            minimizando o risco de fraudes e otimizando seus resultados.
          </p>
        </div>
  
        <button class="btn">
          Quero um Joycard para os meus colaboradores
        </button>
      </div>
    </section>

    <section class="duvidas">
      <h2>Dúvidas frequentes</h2>

      <div class="accordion-wrapper">
        <div class="accordion">
          <button>
            1 - Quais são os primeiros passos com o meu Joycard?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Entre no link
              <a href="https://elementprepagos.net.br/ativacao/">
                https://elementprepagos.net.br/ativacao/
              </a>,
              insira o número do cartão e o seu CPF. Seu nome será informado pelo sistema.
              Para prosseguir, informe e-mail, telefone e escolha na lista de 64 empresas apresentadas
              a que te premiou com o cartão. Aparecerá a mensagem de confirmação dizendo que em até
              24 horas o valor estará no cartão.
            </p>

            <p>
              Baixe o APP Joycard nas lojas de aplicativos Play Store ou Apple Store e faça o seu cadastro.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            2 - Como consulto o meu saldo?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Você pode consultar o saldo do seu cartão através do app do Joycard que pode ser
              baixado na App Store ou na Play Store.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            3 - Como desbloqueio a senha do cartão?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              O desbloqueio da senha do seu cartão tem o custo de R$10,00.
              É importante que o seu cartão tenha o saldo para efetuar o desbloqueio.
              Entre em contato com os 
              <a
                href="https://api.whatsapp.com/send?phone=5511944708751&text=Olá%2C%20gostaria%20de%20falar%20com%20os%20especialistas%20da%20Element%20para%20solucionar%20minhas%20dúvidas."
                target="_blank"
              >
                nossos especialistas
              </a>,
              para ajudá-lo.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            4 - Esqueci a senha do cartão. Como recuperá-la?
            <i class="ph-bold ph-caret-down"></i>
          </button>
          
          <div class="panel">
            <p>
              Entre em contato com os
              <a
                href="https://api.whatsapp.com/send?phone=5511944708751&text=Olá%2C%20gostaria%20de%20falar%20com%20os%20especialistas%20da%20Element%20para%20solucionar%20minhas%20dúvidas."
                target="_blank"
              >
                nossos especialistas
              </a>
              para ajudá-lo.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            5 - Como recuperar a senha do App?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Para recuperar a senha do App, faça o seu acesso ao aplicativo digitando o número do seu CPF,
              clique em “Continuar” e depois clique em “Esqueci minha senha”.
              Será enviado um código de verificação por SMS para o celular previamente cadastrado.
              Após o recebimento, digite o código e cadastre a nova senha.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            6 - Como solicitar a 2ª via do meu cartão?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Entre em contato com os
              <a
                href="https://api.whatsapp.com/send?phone=5511944708751&text=Olá%2C%20gostaria%20de%20falar%20com%20os%20especialistas%20da%20Element%20para%20solucionar%20minhas%20dúvidas."
                target="_blank"
              >
                nossos especialistas
              </a>
              para ajudá-lo.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            7 - Como atualizar meu cadastro?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Nós faremos a atualização cadastral com você. Entre em contato com os0
              <a
                href="https://api.whatsapp.com/send?phone=5511944708751&text=Olá%2C%20gostaria%20de%20falar%20com%20os%20especialistas%20da%20Element%20para%20solucionar%20minhas%20dúvidas."
                target="_blank"
              >
                nossos especialistas
              </a>
              para ajudá-lo.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            8 - Posso fazer saque e/ou TED com o meu cartão?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Se o seu cartão for o Incentive, você pode sacar o valor creditado em seu Joycard
              em qualquer caixa do Banco 24 horas na opção “Saque Crédito”.
              A transferência pode ser realizada para conta de qualquer titularidade.
            </p>
            <p>
              Transferências só estão disponíveis para serem efetuadas em dias úteis e até às 17h.
              Para realizar a transferência, acesse o App, escolha no Menu a opção “Transferir”,
              informe o CPF do favorecido, escreva o nome completo do favorecido,
              selecione o banco do favorecido, escolha o tipo de conta do favorecido,
              digite o número da agência do favorecido (sem ponto ou traço),
              digite o número da conta com dígito (sem ponto e sem traço),
              confirme os dados informados e clique em continuar para solicitar a transferência.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            9 - Como alterar a senha do meu cartão?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Os cartões não permitem troca de senha.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            10 - Não reconheço uma transação no meu cartão. Como proceder?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Entre em contato com os
              <a
                href="https://api.whatsapp.com/send?phone=5511944708751&text=Olá%2C%20gostaria%20de%20falar%20com%20os%20especialistas%20da%20Element%20para%20solucionar%20minhas%20dúvidas."
                target="_blank"
              >
                nossos especialistas
              </a>
              para ajudá-lo.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            11 - Como fazer o cadastro da senha transacional?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Quando for realizar o primeiro TED ou pagamento de boleto,
              você irá cadastrar a senha transacional.
              Ela deve conter 06 números e ficará salva automaticamente após confirmar a transação.
            </p>
            <p>
              É importante que anote a senha para realizar as próximas solicitações
              de TED ou pagamento de boleto, pois não temos acesso a essa senha e caso a esqueça,
              teremos que abrir chamado com o Banco para resetá-la.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            12 - Como alterar a senha transacional?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Se você se lembra da senha antiga e só quer alterá-la, basta entrar no App,
              clicar no botão ao lado de “Olá, bem-vindo”, clicar em “Alterar senha transacional” e
              redefinir a senha.
            </p>
            <p>
              Caso não se lembre da senha antiga, teremos que abrir um chamado junto ao Banco para resetá-la.
              Entre em contato com os
              <a
                href="https://api.whatsapp.com/send?phone=5511944708751&text=Olá%2C%20gostaria%20de%20falar%20com%20os%20especialistas%20da%20Element%20para%20solucionar%20minhas%20dúvidas."
                target="_blank"
              >
                nossos especialistas
              </a>
              para ajudá-lo.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            13 - Qual o link do App do Joycard nas lojas de Aplicativos?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Link do APP na Apple Store:
              <a href="https://apps.apple.com/br/app/joycard/id1666891089">
                https://apps.apple.com/br/app/joycard/id1666891089
              </a>
            </p>
            <p>
              Link do App na PlayStore
              <a href="https://play.google.com/store/apps/details?id=br.com.ease.joycard">
                https://play.google.com/store/apps/details?id=br.com.ease.joycard
              </a>
            </p>
          </div>
        </div>

        <div class="accordion">
          <button>
            14 - Perdi ou tive o meu Joycard roubado. O que fazer?
            <i class="ph-bold ph-caret-down"></i>
          </button>

          <div class="panel">
            <p>
              Você pode efetuar o bloqueio do seu cartão diretamente no App.
              Faça o acesso digitando o seu CPF e a senha já cadastrada, clique em “Cartões”,
              clique nos 3 pontinhos que aparecem no canto superior direito ao lado de onde está escrito
              “Cartão Físico”, clique em “Bloquear Cartão” e depois em “Bloquear”.
            </p>
            <p>
              Pronto! Seu cartão não poderá ser mais utilizado.
            </p>
            <p>
              Caso queira solicitar um novo cartão, entre em contato com os
              <a
                href="https://api.whatsapp.com/send?phone=5511944708751&text=Olá%2C%20gostaria%20de%20falar%20com%20os%20especialistas%20da%20Element%20para%20solucionar%20minhas%20dúvidas."
                target="_blank"
              >
                nossos especialistas
              </a>
              para ajudá-lo.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="sm-banner joycard-media">
      <div class="sm-banner-content">
        <h3>Saiba mais sobre o Joycard nas redes sociais</h3>
        <div class="joycard-media-links">
          <a
            href="https://www.instagram.com/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-instagram-logo"></i>
          </a>
          <a
            href="https://web.facebook.com/elementbusinessecosystem"
            target="_blank"
          >
            <i class="ph-fill ph-facebook-logo"></i>
          </a>
        </div>
      </div>
    </section>

    <section class="sm-banner joycard-cta">
      <div class="sm-banner-content">
        <h3>Quer um Joycard para os seus colaboradores?</h3>
        <a
          href="mailto:comercial@element-b.com.br?subject=Joycard&body=Tenho%20interesse%20em%20saber%20mais%20sobre%20o%20Joycard%20para%20os%20meus%20colaboradores."
          target="_blank"
          class="sm-btn"
        >
          Clique aqui!
        </a>
      </div>
    </section>

    <footer>
      <section class="footer-1">
        <div class="web-horizontal-content">
          <div class="about">
            <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          </div>

          <div class="links-container">
            <div class="links">
              <p class="main-link">
                Institucional
              </p>

              <a href="../../views/institucional/quem-somos.html" class="sub-link">
                Quem somos
              </a>

              <a href="../../views/institucional/missao-visao-valores.html" class="sub-link">
                Missão, Visão e Valores
              </a>

              <a href="../../views/institucional/nossa-historia.html" class="sub-link">
                Nossa História
              </a>

              <a href="../../views/institucional/nossa-equipe.html" class="sub-link">
                Nossa Equipe
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Nossas soluções
              </p>

              <a href="../../views/solucoes/oque-fazemos.html" class="sub-link">
                O que fazemos
              </a>

              <a href="../../views/solucoes/joycard.html" class="sub-link">
                Joycard
              </a>

              <a href="../../views/solucoes/control.html" class="sub-link">
                Control Ecosystem
              </a>

              <a href="../../views/solucoes/programa-multiplicador.html" class="sub-link">
                Seja um multiplicador
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Sou cliente
              </p>

              <a href="../../tenho-joycard.html" class="sub-link">
                Tenho Joycard
              </a>

              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
                class="sub-link"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>
        </div>

        <a
          href="https://maps.app.goo.gl/ufG4q2W8yukBerqY7"
          target="_blank"
          class="address"
        >
          Alameda Grajaú, 219 - 3º andar - Alphaville
          <br />
          Barueri - SP, 06454-050
        </a>
      </section>

      <section class="footer-2">
        <a
          href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
          target="_blank"
          class="whatsapp"
        >
          <i class="ph-bold ph-whatsapp-logo"></i>
          Fale conosco: +55 11 94470-8751
        </a>

        <div class="social-media">
          <a
            href="https://www.instagram.com/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-instagram-logo"></i>
          </a>
          <a
            href="https://web.facebook.com/elementbusinessecosystem"
            target="_blank"
          >
            <i class="ph-fill ph-facebook-logo"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-linkedin-logo"></i>
          </a>
        </div>
      </section>
    </footer>
  </body>

  <script src="../../scripts/header.js"></script>
  <script src="../../scripts/accordion.js"></script>
</html>