<!DOCTYPE html>

<html lang="ptbr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/07a632e4ac.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" href="../../style/header.css">
    <link rel="stylesheet" href="../../style/footer.css">
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="../../style/solucoes/oque-fazemos.css">

    <title>O que fazemos</title>
  </head>

  <body class="nossas-solucoes">
    <header id="header">
      <div class="header-content">
        <a href="../../index.html" class="header-logo">
          <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          <p>Há 23 anos valorizando os negócios de nossos clientes.</p>
        </a>
  
        <a
          href="javascript:void(0);"
          onclick="menuToggle()"
          class="header-button-icon"
        >
          <i class="ph-bold ph-list menu-icon"></i>
          <i class="ph-bold ph-x close-icon"></i>
        </a>
  
        <div class="header-menu">
          <div class="dropdown">
            <div class="header-button">
              <p>Institucional</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/institucional/quem-somos.html">Quem somos</a>
              <a href="../../views/institucional/missao-visao-valores.html">Missão, Visão e Valores</a>
              <a href="../../views/institucional/nossa-historia.html">Nossa História</a>
              <a href="../../views/institucional/nossa-equipe.html">Nossa Equipe</a>
            </div>
          </div>
        
          <div class="dropdown">
            <div class="header-button">
              <p>O que fazemos</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../views/solucoes/oque-fazemos.html">O que fazemos</a>
              <a href="../../views/solucoes/joycard.html">Joycard</a>
              <a href="../../views/solucoes/control.html">Control Ecosystem</a>
              <a href="../../views/solucoes/programa-multiplicador.html">Seja um multiplicador</a>
            </div>
          </div>

          <div class="dropdown">
            <div class="header-button">
              <p>Sou cliente</p>
              <i class="ph-bold ph-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="../../tenho-joycard.html">Tenho Joycard</a>
              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>

          <div class="whatsapp">
            <a
              href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
              class="header-button"
              target="_blank"
            >
              Fale conosco
              <i class="ph-bold ph-whatsapp-logo"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="header-background-overlay"></div>
    </header>

    <section class="secao-oque-fazemos first-section">    
      <div class="content">
        <h1>
          O que fazemos
        </h1>

        <div class="texts">
          <div class="coluna-1">
            <p>
              <b>Somos um provedor de soluções para incentivar as pessoas.</b>
            </p>
  
            <p>
              Na Element, entendemos que cada empresa tem desafios únicos.
              Nossas soluções personalizadas, aliadas à conformidade legal e tecnologia de ponta,
              garantem segurança, eficiência e impacto real para nossos clientes.
            </p>
          </div>
          
          <p>
            Incentive, premie e fidelize colaboradores, parceiros e clientes – sejam funcionários,
            representantes, vendedores, agricultores, freelancers ou equipes técnicas.
            Proporcionamos soluções rápidas, sem burocracia e com total respaldo jurídico,
            conectando pessoas e negócios de forma eficiente e segura.
          </p>
        </div>
      </div>
    </section>

    <section class="solucoes">
      
      
      <div class="solucao solucao-joycard">
        <div class="content">
          <div class="titulo">
            <h2>Nossa soluções</h2>

            <p>
              Explore as opções que transformam o incentivo e a premiação em experiências únicas e
              eficientes. <br />
              Soluções que oferecem liberdade e valorizam quem faz a diferença.
            </p>
          </div>
          
          <img src="../../assets/logo/joycard.svg" alt="" class="logo">
          <p>
            Cartão pré-pago Bandeira MasterCard, físico ou virtual,
            disponibilizado para que as empresas possam realizar o pagamento de premiação,
            incentivo, ajuda de custo e outros benefícios para pessoas físicas.
            Perfeito para recompensas flexíveis e imediatas, com ampla aceitação.
          </p>
          <button class="sm-btn">
            Saiba mais
          </button>
        </div>
        
        <div class="main-img"></div>
      </div>

      <div class="solucao solucao-control">
        <div class="main-img"></div>

        <div class="content">
          <img src="../../assets/logo/control-dark-mode.svg" alt="" class="logo">
          <p>
            Plataforma de adminstração dos produtos Element Business Ecosystem.
            Ambiente onde você tem acesso a todos os contratos conosco,
            informações e andamento das suas operações, nota fiscal e relatórios
            completos de toda a sua movimentação.
          </p>
          <button class="sm-btn">
            Saiba mais
          </button>
        </div>
      </div>
    </section>

    <section class="secao-quem">
      <h2>Para quem fazemos</h2>

      <div class="carousel-container-wrapper">
        <button class="carousel-btn prev-btn">
          <i class="ph-bold ph-caret-left"></i>
        </button>

        <div class="carousel-container">
          <div class="carousel">
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/promocoes.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Agências de Promoções e Incentivos</h3>
              </div>
            </div>
    
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/agronegocio.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Agronegócio</h3>
              </div>
            </div>
    
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/distribuidores.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Distribuidores</h3>
              </div>
            </div>
    
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/franquias.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Franquias</h3>
              </div>
            </div>
    
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/automotivo.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Indústria Automotiva</h3>
              </div>
            </div>
    
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/farmacia.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Indústria Farmacêutica</h3>
              </div>
            </div>
    
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/eventos.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Produtoras de Eventos</h3>
              </div>
            </div>
            
            <div class="carousel-item">
              <img src="../../assets/solucoes/quem/varejo.jpg">
              <div class="overlay"></div>
              <div class="content">
                  <h3>Varejistas</h3>
              </div>
            </div>
          </div>
        </div>
        
        <button class="carousel-btn next-btn">
          <i class="ph-bold ph-caret-right"></i>
        </button>
      </div>   
    </section>

    <section class="secao-beneficios">
      <h2>Benefícios para o Cliente</h2>
      
      <p class="subtitulo">
        Nossas soluções oferecem vantagens estratégicas que simplificam processos e
        geram resultados positivos para sua empresa:
      </p>

      <div class="beneficios">
        <div class="beneficio">
          <div class="icone">
            <i class="ph-fill ph-scales"></i>
          </div>

          <p class="numero">1</p>

          <h3>Formalização e Conformidade Jurídica</h3>

          <ul>
            <li>Regularize pagamentos extras com total segurança.</li>
            <li>Atue em conformidade com a reforma da CLT – Lei 13.467, artigo 457.</li>
            <li>Garanta respaldo jurídico em todas as operações, eliminando riscos trabalhistas</li>
          </ul>
        </div>

        <div class="beneficio">
          <div class="icone">
            <i class="ph-fill ph-desktop"></i>
          </div>

          <p class="numero">2</p>

          <h3>Otimização Operacional</h3>

          <ul>
            <li>Alivie atividades dos setores Financeiro e de Controladoria, liberando tempo e recursos para o que realmente importa.</li>
            <li>Utilize um sistema de controle completo para:</li>
            <ul class="sublist">
              <li>Gerenciar contratos.</li>
              <li>Acompanhar operações e consultar notas fiscais.</li>
              <li>Gerar relatórios detalhados sobre todas as movimentações.</li>
            </ul>
          </ul>
        </div>

        <div class="beneficio">
          <div class="icone">
            <i class="ph-fill ph-intersect"></i>
          </div>

          <p class="numero">3</p>

          <h3>Conexão e Engajamento</h3>

          <ul>
            <li>Aproximação de todos os públicos: funcionários, representantes, vendedores, agricultores, freelancers, promotores, equipe técnica e mais.</li>
            <li>Reduza o turnover ao valorizar e fidelizar talentos por meio de soluções ágeis e atrativas.</li>
          </ul>
        </div>

        <div class="beneficio">
          <div class="icone">
            <i class="ph-fill ph-hand-coins"></i>
          </div>

          <p class="numero">4</p>

          <h3>Redução de Custos e Encargos</h3>

          <ul>
            <li>Minimize encargos e impostos com soluções otimizadas para pagamentos.</li>
            <li>Aumente a eficiência financeira da sua empresa sem complicações.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="secao-avaliacoes">
      <div class="conteudo-secao-avaliacoes">
        <div class="titulo">
          <i class="ph-fill ph-chat-teardrop-dots"></i>
          <h2>O que dizem da <span>Element</span></h2>
        </div>
  
        <div class="avaliacoes">
          <div class="coluna">
            <div class="avaliacao">
              <h4>Ana Christina A. Pitta</h4>
        
              <div class="estrelas">
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
              </div>
      
              <p>
                Boa tarde!<br />
                Não tenho o que reclamar de vcs.<br />
                Sempre atenciosos e prestativos.<br />
                Inclusive, quantas noites trabalhamos?!<br />
                Essa empresa não é 10. É infinitamente excelente
              </p>
            </div>
      
            <div class="avaliacao">
              <h4>Sabrina Pereira</h4>
        
              <div class="estrelas">
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
              </div>
      
              <p>
                Ótima empresa com suporte total ao cliente, indico 100%!
              </p>
            </div>
  
            <div class="avaliacao">
              <h4>Manuel Gomes</h4>
        
              <div class="estrelas">
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
              </div>
      
              <p>
                Excelente atendimento e suporte fantástico!<br />
                Estão de parabéns pelo belo trabalho!
              </p>
            </div>
          </div>
          
          <div class="coluna">
            <div class="avaliacao">
              <h4>Cristiani Alonso</h4>
        
              <div class="estrelas">
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
              </div>
      
              <p>
                Excelente empresa!<br />
                Prestativos  e sempre preparando o melhor para os seus clientes. Parceria de muitos anos! Vocês são nota 10!!
              </p>
            </div>  
      
            <div class="avaliacao">
              <h4>Mara Antoniassi</h4>
        
              <div class="estrelas">
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
              </div>
      
              <p>
                Estou muito satisfeita com a parceria, atendimento rápido e eficaz.
                Site simples, prático e fácil.
              </p>
            </div>
            
            <div class="avaliacao">
              <h4>Paulo Henrique</h4>
        
              <div class="estrelas">
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
                <i class="ph-fill ph-star"></i>
              </div>
      
              <p>
                Bom atendimento e sistema prático.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="secao-contato">
      <div class="conteudo-secao-contato">
        <div class="infos">
          <h2>
            <span class="interesse">Se interessou por nossas soluções?</span><br/>
            <span class="conversa">Vamos conversar!</span>
          </h2>
  
          <div class="links">
            <div class="links-l">
              <a href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element" target="_blank" class="link-contato">
                <i class="ph-light ph-whatsapp-logo"></i>
                <p>+55 (11) 94470-8751</p>
              </a>
      
              <a href="mailto:comercial@element-b.com.br?subject=Site%20Element&body=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element." class="link-contato">
                <i class="ph-light ph-envelope-simple"></i>
                <p>comercial@element-b.com.br</p>
              </a>
            </div>
    
            <div class="line"></div>
    
            <div class="links-sm">
              <h4>Redes sociais</h4>
    
              <div class="redes-sociais">
                <a
                  href="https://www.instagram.com/elementbusinessecosystem/"
                  target="_blank"
                >
                  <i class="ph-fill ph-instagram-logo"></i>
                </a>
                <a
                  href="https://web.facebook.com/elementbusinessecosystem"
                  target="_blank"
                >
                  <i class="ph-fill ph-facebook-logo"></i>
                </a>
                <a
                  href="https://www.linkedin.com/company/elementbusinessecosystem/"
                  target="_blank"
                >
                  <i class="ph-fill ph-linkedin-logo"></i>
                </a>
              </div>
            </div>   
          </div>
        </div>
  
        <form id="contact-form" action="https://api.staticforms.xyz/submit" method="post">
          <input type="hidden" name="accessKey" value="2d11b544-4a1e-43e5-a2e0-a3ed69a0bb32">

          <div class="input-container">
            <i class="ph ph-user"></i>
            <input type="text" id="name" name="name" placeholder="Nome" autocomplete="off" required>
          </div>

          <div class="colunas">
            <div class="input-container">
              <i class="ph ph-envelope-simple"></i>
              <input type="email" id="email" name="email" placeholder="E-mail" autocomplete="off" required>
            </div>

            <div class="input-container">
              <i class="ph ph-phone"></i>
              <input
                type="text"
                name="phone"
                id="phone"
                placeholder="Telefone"
                autocomplete="off" 
                oninput="applyMask()"
                required
                minlength="10"
              >
            </div>
          </div>
          
          <textarea id="message" name="message" rows="4" placeholder="Digite sua mensagem" autocomplete="off" required></textarea>

          <button class="sm-btn" type="submit">Enviar</button>
        </form>
      </div>
    </section>

    <footer>
      <section class="footer-1">
        <div class="web-horizontal-content">
          <div class="about">
            <img src="../../assets/logo/logo.svg" alt="Element Business Ecosystem">
          </div>

          <div class="links-container">
            <div class="links">
              <p class="main-link">
                Institucional
              </p>

              <a href="../../views/institucional/quem-somos.html" class="sub-link">
                Quem somos
              </a>

              <a href="../../views/institucional/missao-visao-valores.html" class="sub-link">
                Missão, Visão e Valores
              </a>

              <a href="../../views/institucional/nossa-historia.html" class="sub-link">
                Nossa História
              </a>

              <a href="../../views/institucional/nossa-equipe.html" class="sub-link">
                Nossa Equipe
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Nossas soluções
              </p>

              <a href="../../views/solucoes/oque-fazemos.html" class="sub-link">
                O que fazemos
              </a>

              <a href="../../views/solucoes/joycard.html" class="sub-link">
                Joycard
              </a>

              <a href="../../views/solucoes/control.html" class="sub-link">
                Control Ecosystem
              </a>

              <a href="../../views/solucoes/programa-multiplicador.html" class="sub-link">
                Seja um multiplicador
              </a>
            </div>

            <div class="links">
              <p class="main-link">
                Sou cliente
              </p>

              <a href="../../tenho-joycard.html" class="sub-link">
                Tenho Joycard
              </a>

              <a
                href="https://www.control-ecosys.com.br/login"
                target="_blank"
                class="sub-link"
              >
                Tenho Control Ecosystem
              </a>
            </div>
          </div>
        </div>

        <a
          href="https://maps.app.goo.gl/ufG4q2W8yukBerqY7"
          target="_blank"
          class="address"
        >
          Alameda Grajaú, 219 - 3º andar - Alphaville
          <br />
          Barueri - SP, 06454-050
        </a>
      </section>

      <section class="footer-2">
        <a
          href="https://wa.me/5511944708751?text=Ol%C3%A1%2C%20vim%20do%20site%20da%20Element"
          target="_blank"
          class="whatsapp"
        >
          <i class="ph-bold ph-whatsapp-logo"></i>
          Fale conosco: +55 11 94470-8751
        </a>

        <div class="social-media">
          <a
            href="https://www.instagram.com/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-instagram-logo"></i>
          </a>
          <a
            href="https://web.facebook.com/elementbusinessecosystem"
            target="_blank"
          >
            <i class="ph-fill ph-facebook-logo"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/elementbusinessecosystem/"
            target="_blank"
          >
            <i class="ph-fill ph-linkedin-logo"></i>
          </a>
        </div>
      </section>
    </footer>
  </body>

  <script src="../../scripts/header.js"></script>
  <script src="../../scripts/multi-slider.js"></script>
  <script src="../../scripts/mask-phone.js"></script>
  <script src="../../scripts/contato.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</html>